<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'Tweets/style.css' %}" />
    <title>{% block title %}Tlitter{% endblock %}</title>
</head>

<body>
    <div id="header">
        {% block header %}
        <h1><a href="{% url 'Tweets:index' %}">Tlitter</a></h1>
        {% endblock %}
        {% block userbar %}
          {% if user.is_authenticated %}
            Logged in as <a href="{% url 'Tweets:myprofile' %}">{{ user.profile.nickname|default:"???" }}</a>
            <a href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'login' %}">Log-in</a>
          {% endif %}
        {% endblock %}
    </div>

    {% if user.is_authenticated %}
    <p>Post a new Tlit</p>
    <textarea id="tweet_text" maxlength="140"></textarea>
    <button id="tweet_submit">Tlit it!</button>
    <span id="tweet_csrf" style="display:none;">{{ csrf_token }}</span>
    <div id="tweet_status"></div>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'Tweets/post_tweet.js' %}"></script>
</body>
</html>
